**/.env*
ai/urlSummary/__pycache__/**
ai/.DS_Store**
ai/urlSummary/.DS_Store**
ai/urlSummary/Archive.zip**
ai/urlSummary/annotated_types-0.7.0.dist-info/**
ai/urlSummary/annotated_types/**
ai/urlSummary/anyio-4.8.0.dist-info/**
ai/urlSummary/anyio/**
ai/urlSummary/bin/**
ai/urlSummary/certifi-2025.1.31.dist-info/**
ai/urlSummary/certifi/**
ai/urlSummary/charset_normalizer-3.4.1.dist-info/**
ai/urlSummary/charset_normalizer/**
ai/urlSummary/distro-1.9.0.dist-info/**
ai/urlSummary/distro/**
ai/urlSummary/h11-0.14.0.dist-info/**
ai/urlSummary/h11/**
ai/urlSummary/httpcore-1.0.7.dist-info/**
ai/urlSummary/httpcore/**
ai/urlSummary/httpx-0.28.1.dist-info/**
ai/urlSummary/httpx/**
ai/urlSummary/idna-3.10.dist-info/**
ai/urlSummary/idna/**
ai/urlSummary/jiter-0.8.2.dist-info/**
ai/urlSummary/jiter/**
ai/urlSummary/openai-1.61.1.dist-info/**
ai/urlSummary/openai/**
ai/urlSummary/pydantic-2.10.6.dist-info/**
ai/urlSummary/pydantic/**
ai/urlSummary/pydantic_core-2.27.2.dist-info/**
ai/urlSummary/pydantic_core/**
ai/urlSummary/requests-2.32.3.dist-info/**
ai/urlSummary/requests/**
ai/urlSummary/sniffio-1.3.1.dist-info/**
ai/urlSummary/sniffio/**
ai/urlSummary/tqdm-4.67.1.dist-info/**
ai/urlSummary/tqdm/**
ai/urlSummary/typing_extensions-4.12.2.dist-info/**
ai/urlSummary/typing_extensions.py**
ai/urlSummary/urllib3-2.3.0.dist-info/**
ai/urlSummary/urllib3/**